# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Science
- List Data Science Tools which indicate three development environment open source tools

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. C++
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Seaborn
4. Matplotlib

|Data Science Tools|
--------------------
|R Studio|
|Anaconda |
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Haoyu You